USE [master]
GO
/****** Object:  Database [Safe_Audit]    Script Date: 24/02/2026 11:19:13 م ******/
CREATE DATABASE [Safe_Audit]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Restaurant_Settlement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS2019\MSSQL\DATA\Restaurant_Settlement_Data.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Restaurant_Settlement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS2019\MSSQL\DATA\Restaurant_Settlement_Log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Safe_Audit].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Safe_Audit]
GO
/****** Object:  User [THINKER]    Script Date: 24/02/2026 11:19:13 م ******/
CREATE USER [THINKER] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  UserDefinedTableType [dbo].[ExpenseTableType]    Script Date: 24/02/2026 11:19:13 م ******/
CREATE TYPE [dbo].[ExpenseTableType] AS TABLE(
	[Reason] [nvarchar](255) NULL,
	[Amount] [decimal](18, 2) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[PaymentTableType]    Script Date: 24/02/2026 11:19:13 م ******/
CREATE TYPE [dbo].[PaymentTableType] AS TABLE(
	[MethodID] [int] NULL,
	[Amount] [decimal](18, 2) NULL
)
GO
/****** Object:  Table [dbo].[Payment_Details]    Script Date: 24/02/2026 11:19:13 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment_Details](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[ShiftID] [decimal](18, 0) NULL,
	[MethodID] [int] NULL,
	[Amount] [decimal](18, 2) NULL,
	[TransDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 24/02/2026 11:19:13 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[MethodID] [int] IDENTITY(1,1) NOT NULL,
	[MethodName] [nvarchar](50) NOT NULL,
	[AccountType] [nvarchar](50) NULL,
	[BaseBalance] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shift_Settlements]    Script Date: 24/02/2026 11:19:13 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shift_Settlements](
	[ShiftID] [decimal](18, 0) NOT NULL,
	[CashierID] [int] NULL,
	[CreatedBy_UserID] [int] NULL,
	[ShiftDate] [datetime] NULL,
	[ShiftType] [nvarchar](20) NULL,
	[SystemAmount] [decimal](18, 2) NULL,
	[ActualCash] [decimal](18, 2) NULL,
	[ActualDigital] [decimal](18, 2) NULL,
	[TotalExpenses] [decimal](18, 2) NULL,
	[FinalDifference] [decimal](18, 2) NULL,
	[StatusNote] [nvarchar](50) NULL,
	[DeviceID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_AccountBalances]    Script Date: 24/02/2026 11:19:13 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_AccountBalances]
AS
SELECT 
    PM.MethodID,
    PM.MethodName,
    PM.AccountType,
    ISNULL(PM.BaseBalance, 0) AS OpeningBalance,
    -- الحسبة بناءً على "النوع" وليس "الاسم"
    ISNULL(PM.BaseBalance, 0) + 
    ISNULL((SELECT SUM(Amount) FROM Payment_Details WHERE MethodID = PM.MethodID), 0) +
    CASE 
        -- لو نوع الحساب "نقدي" يلم كاش الورديات ويطرح المصاريف
        WHEN PM.AccountType = N'نقدي' 
        THEN (ISNULL((SELECT SUM(ActualCash) FROM Shift_Settlements), 0) - 
              ISNULL((SELECT SUM(TotalExpenses) FROM Shift_Settlements), 0))
        ELSE 0 
    END AS CurrentBalance
FROM 
    dbo.PaymentMethods PM
GROUP BY 
    PM.MethodID, PM.MethodName, PM.AccountType, PM.BaseBalance
GO
/****** Object:  Table [dbo].[Account_Transfers]    Script Date: 24/02/2026 11:19:13 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_Transfers](
	[TransferID] [int] IDENTITY(1,1) NOT NULL,
	[FromAccountID] [int] NULL,
	[ToAccountID] [int] NULL,
	[Amount] [decimal](18, 2) NULL,
	[TransferDate] [datetime] NULL,
	[Notes] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[App_Users]    Script Date: 24/02/2026 11:19:13 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[App_Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[RoleID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cash_Denominations]    Script Date: 24/02/2026 11:19:13 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cash_Denominations](
	[DenomID] [int] IDENTITY(1,1) NOT NULL,
	[ShiftID] [decimal](18, 0) NULL,
	[F200] [int] NULL,
	[F100] [int] NULL,
	[F50] [int] NULL,
	[F20] [int] NULL,
	[F10] [int] NULL,
	[F5] [int] NULL,
	[F1] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DenomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cashier_Devices]    Script Date: 24/02/2026 11:19:13 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cashier_Devices](
	[DeviceID] [int] IDENTITY(1,1) NOT NULL,
	[DeviceName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DeviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cashiers]    Script Date: 24/02/2026 11:19:13 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cashiers](
	[CashierID] [int] IDENTITY(1,1) NOT NULL,
	[CashierName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CashierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expenses_Details]    Script Date: 24/02/2026 11:19:13 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expenses_Details](
	[ExpenseID] [int] IDENTITY(1,1) NOT NULL,
	[ShiftID] [decimal](18, 0) NULL,
	[Reason] [nvarchar](255) NULL,
	[Amount] [decimal](18, 2) NULL,
	[ExpenseDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExpenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 24/02/2026 11:19:13 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Safe_Log]    Script Date: 24/02/2026 11:19:13 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Safe_Log](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[LogDate] [datetime] NULL,
	[ShiftID] [decimal](18, 0) NULL,
	[TransactionType] [nvarchar](50) NULL,
	[AmountIn] [decimal](18, 2) NULL,
	[AmountOut] [decimal](18, 2) NULL,
	[CurrentBalance] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account_Transfers] ON 

INSERT [dbo].[Account_Transfers] ([TransferID], [FromAccountID], [ToAccountID], [Amount], [TransferDate], [Notes]) VALUES (1, 1, 2, CAST(40.00 AS Decimal(18, 2)), CAST(N'2026-02-24T14:57:56.643' AS DateTime), N'تجريبي')
SET IDENTITY_INSERT [dbo].[Account_Transfers] OFF
GO
SET IDENTITY_INSERT [dbo].[App_Users] ON 

INSERT [dbo].[App_Users] ([UserID], [FullName], [UserName], [Password], [RoleID]) VALUES (1, N'المدير العام', N'admin', N'123', 1)
SET IDENTITY_INSERT [dbo].[App_Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Cash_Denominations] ON 

INSERT [dbo].[Cash_Denominations] ([DenomID], [ShiftID], [F200], [F100], [F50], [F20], [F10], [F5], [F1]) VALUES (1, CAST(10 AS Decimal(18, 0)), 5, 2, 3, 25, 0, 0, 0)
INSERT [dbo].[Cash_Denominations] ([DenomID], [ShiftID], [F200], [F100], [F50], [F20], [F10], [F5], [F1]) VALUES (2, CAST(5 AS Decimal(18, 0)), 10, 0, 0, 0, 10, 0, 0)
INSERT [dbo].[Cash_Denominations] ([DenomID], [ShiftID], [F200], [F100], [F50], [F20], [F10], [F5], [F1]) VALUES (3, CAST(4 AS Decimal(18, 0)), 10, 10, 0, 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[Cash_Denominations] OFF
GO
SET IDENTITY_INSERT [dbo].[Cashier_Devices] ON 

INSERT [dbo].[Cashier_Devices] ([DeviceID], [DeviceName]) VALUES (1, N'بيك اواي 1')
INSERT [dbo].[Cashier_Devices] ([DeviceID], [DeviceName]) VALUES (2, N'بيك اواي 2')
INSERT [dbo].[Cashier_Devices] ([DeviceID], [DeviceName]) VALUES (3, N'بيك اواي 3')
SET IDENTITY_INSERT [dbo].[Cashier_Devices] OFF
GO
SET IDENTITY_INSERT [dbo].[Cashiers] ON 

INSERT [dbo].[Cashiers] ([CashierID], [CashierName], [Phone]) VALUES (1, N'أحمد محمد', N'01012345678')
INSERT [dbo].[Cashiers] ([CashierID], [CashierName], [Phone]) VALUES (2, N'محمود علي', N'01212345678')
SET IDENTITY_INSERT [dbo].[Cashiers] OFF
GO
SET IDENTITY_INSERT [dbo].[Expenses_Details] ON 

INSERT [dbo].[Expenses_Details] ([ExpenseID], [ShiftID], [Reason], [Amount], [ExpenseDate]) VALUES (1, CAST(10 AS Decimal(18, 0)), N'فطار1', CAST(123.00 AS Decimal(18, 2)), CAST(N'2026-02-19T15:33:10.703' AS DateTime))
INSERT [dbo].[Expenses_Details] ([ExpenseID], [ShiftID], [Reason], [Amount], [ExpenseDate]) VALUES (2, CAST(5 AS Decimal(18, 0)), N'فطار2', CAST(34.00 AS Decimal(18, 2)), CAST(N'2026-02-19T16:15:22.383' AS DateTime))
INSERT [dbo].[Expenses_Details] ([ExpenseID], [ShiftID], [Reason], [Amount], [ExpenseDate]) VALUES (3, CAST(4 AS Decimal(18, 0)), N'غداء3', CAST(100.00 AS Decimal(18, 2)), CAST(N'2026-02-19T16:31:11.883' AS DateTime))
SET IDENTITY_INSERT [dbo].[Expenses_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment_Details] ON 

INSERT [dbo].[Payment_Details] ([DetailID], [ShiftID], [MethodID], [Amount], [TransDate]) VALUES (1, CAST(10 AS Decimal(18, 0)), 1, CAST(10.00 AS Decimal(18, 2)), CAST(N'2026-02-19T15:33:10.703' AS DateTime))
INSERT [dbo].[Payment_Details] ([DetailID], [ShiftID], [MethodID], [Amount], [TransDate]) VALUES (2, CAST(5 AS Decimal(18, 0)), 2, CAST(10.00 AS Decimal(18, 2)), CAST(N'2026-02-19T16:15:22.383' AS DateTime))
INSERT [dbo].[Payment_Details] ([DetailID], [ShiftID], [MethodID], [Amount], [TransDate]) VALUES (3, CAST(4 AS Decimal(18, 0)), 3, CAST(10.00 AS Decimal(18, 2)), CAST(N'2026-02-19T16:31:11.883' AS DateTime))
SET IDENTITY_INSERT [dbo].[Payment_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentMethods] ON 

INSERT [dbo].[PaymentMethods] ([MethodID], [MethodName], [AccountType], [BaseBalance]) VALUES (1, N'انيستا البنك الأهلي', N'حسابات بنكية', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[PaymentMethods] ([MethodID], [MethodName], [AccountType], [BaseBalance]) VALUES (2, N'فودافون كاش 1', N'محافظ إلكترونية', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[PaymentMethods] ([MethodID], [MethodName], [AccountType], [BaseBalance]) VALUES (3, N'انيستا بنك مصر', N'حسابات بنكية', CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[PaymentMethods] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'مدير نظام')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'مدخل بيانات')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Safe_Log] ON 

INSERT [dbo].[Safe_Log] ([LogID], [LogDate], [ShiftID], [TransactionType], [AmountIn], [AmountOut], [CurrentBalance]) VALUES (1, CAST(N'2026-02-19T15:33:10.703' AS DateTime), CAST(10 AS Decimal(18, 0)), N'تصفية وردية', CAST(1850.00 AS Decimal(18, 2)), CAST(20.00 AS Decimal(18, 2)), CAST(1830.00 AS Decimal(18, 2)))
INSERT [dbo].[Safe_Log] ([LogID], [LogDate], [ShiftID], [TransactionType], [AmountIn], [AmountOut], [CurrentBalance]) VALUES (2, CAST(N'2026-02-19T16:15:22.383' AS DateTime), CAST(5 AS Decimal(18, 0)), N'تصفية وردية', CAST(2100.00 AS Decimal(18, 2)), CAST(34.00 AS Decimal(18, 2)), CAST(3896.00 AS Decimal(18, 2)))
INSERT [dbo].[Safe_Log] ([LogID], [LogDate], [ShiftID], [TransactionType], [AmountIn], [AmountOut], [CurrentBalance]) VALUES (3, CAST(N'2026-02-19T16:31:11.883' AS DateTime), CAST(4 AS Decimal(18, 0)), N'تصفية وردية', CAST(3000.00 AS Decimal(18, 2)), CAST(200.00 AS Decimal(18, 2)), CAST(6696.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Safe_Log] OFF
GO
INSERT [dbo].[Shift_Settlements] ([ShiftID], [CashierID], [CreatedBy_UserID], [ShiftDate], [ShiftType], [SystemAmount], [ActualCash], [ActualDigital], [TotalExpenses], [FinalDifference], [StatusNote], [DeviceID]) VALUES (CAST(4 AS Decimal(18, 0)), 1, 1, CAST(N'2026-02-19T16:28:49.793' AS DateTime), N'صباحي', CAST(3400.00 AS Decimal(18, 2)), CAST(3000.00 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)), CAST(200.00 AS Decimal(18, 2)), CAST(-100.00 AS Decimal(18, 2)), N'عجز', 1)
INSERT [dbo].[Shift_Settlements] ([ShiftID], [CashierID], [CreatedBy_UserID], [ShiftDate], [ShiftType], [SystemAmount], [ActualCash], [ActualDigital], [TotalExpenses], [FinalDifference], [StatusNote], [DeviceID]) VALUES (CAST(5 AS Decimal(18, 0)), 1, 1, CAST(N'2026-02-19T16:11:30.093' AS DateTime), N'صباحي', CAST(2000.00 AS Decimal(18, 2)), CAST(2100.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), CAST(34.00 AS Decimal(18, 2)), CAST(144.00 AS Decimal(18, 2)), N'زيادة', 1)
INSERT [dbo].[Shift_Settlements] ([ShiftID], [CashierID], [CreatedBy_UserID], [ShiftDate], [ShiftType], [SystemAmount], [ActualCash], [ActualDigital], [TotalExpenses], [FinalDifference], [StatusNote], [DeviceID]) VALUES (CAST(10 AS Decimal(18, 0)), 1, 1, CAST(N'2026-02-19T15:31:44.153' AS DateTime), N'صباحي', CAST(2000.00 AS Decimal(18, 2)), CAST(1850.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), CAST(20.00 AS Decimal(18, 2)), CAST(-120.00 AS Decimal(18, 2)), N'عجز', 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__App_User__C9F28456D5757866]    Script Date: 24/02/2026 11:19:13 م ******/
ALTER TABLE [dbo].[App_Users] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account_Transfers] ADD  DEFAULT (getdate()) FOR [TransferDate]
GO
ALTER TABLE [dbo].[Expenses_Details] ADD  DEFAULT (getdate()) FOR [ExpenseDate]
GO
ALTER TABLE [dbo].[Payment_Details] ADD  DEFAULT (getdate()) FOR [TransDate]
GO
ALTER TABLE [dbo].[PaymentMethods] ADD  DEFAULT ((0)) FOR [BaseBalance]
GO
ALTER TABLE [dbo].[Safe_Log] ADD  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [dbo].[Safe_Log] ADD  DEFAULT ((0)) FOR [AmountIn]
GO
ALTER TABLE [dbo].[Safe_Log] ADD  DEFAULT ((0)) FOR [AmountOut]
GO
ALTER TABLE [dbo].[Shift_Settlements] ADD  DEFAULT (getdate()) FOR [ShiftDate]
GO
ALTER TABLE [dbo].[App_Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Cash_Denominations]  WITH CHECK ADD FOREIGN KEY([ShiftID])
REFERENCES [dbo].[Shift_Settlements] ([ShiftID])
GO
ALTER TABLE [dbo].[Expenses_Details]  WITH CHECK ADD FOREIGN KEY([ShiftID])
REFERENCES [dbo].[Shift_Settlements] ([ShiftID])
GO
ALTER TABLE [dbo].[Payment_Details]  WITH CHECK ADD FOREIGN KEY([MethodID])
REFERENCES [dbo].[PaymentMethods] ([MethodID])
GO
ALTER TABLE [dbo].[Payment_Details]  WITH CHECK ADD FOREIGN KEY([ShiftID])
REFERENCES [dbo].[Shift_Settlements] ([ShiftID])
GO
ALTER TABLE [dbo].[Shift_Settlements]  WITH CHECK ADD FOREIGN KEY([CashierID])
REFERENCES [dbo].[Cashiers] ([CashierID])
GO
ALTER TABLE [dbo].[Shift_Settlements]  WITH CHECK ADD FOREIGN KEY([CreatedBy_UserID])
REFERENCES [dbo].[App_Users] ([UserID])
GO
/****** Object:  StoredProcedure [dbo].[GET_LAST_SHIFT_ID]    Script Date: 24/02/2026 11:19:13 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_LAST_SHIFT_ID]
AS
BEGIN
    -- تغيير Settlements إلى Shift_Settlements
    SELECT ISNULL(MAX(ShiftID), 0) AS LastID  
    FROM Shift_Settlements
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADD_ACCOUNT]    Script Date: 24/02/2026 11:19:13 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. إجراء إضافة حساب جديد
CREATE PROCEDURE [dbo].[SP_ADD_ACCOUNT]
    @Name NVARCHAR(50),
    @Type NVARCHAR(50),
    @Balance DECIMAL(18,2)
AS
BEGIN
    INSERT INTO PaymentMethods (MethodName, AccountType, InitialBalance)
    VALUES (@Name, @Type, @Balance);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_ACCOUNT_STATEMENT]    Script Date: 24/02/2026 11:19:13 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_ACCOUNT_STATEMENT]
    @MethodID INT,
    @FromDate DATE,
    @ToDate DATE
AS
BEGIN
    SELECT 
        TransDate AS [التاريخ],
        -- حرف N هنا يخبر SQL أن النص "يونيكود" ويدعم العربية
        CASE 
            WHEN Amount > 0 THEN N'إيداع / محول إليه'
            WHEN Amount < 0 THEN N'صرف / محول منه'
            ELSE N'حركة صفرية'
        END AS [البيان],
        CASE WHEN Amount > 0 THEN Amount ELSE 0 END AS [وارد],
        CASE WHEN Amount < 0 THEN ABS(Amount) ELSE 0 END AS [منصرف],
        SUM(Amount) OVER (ORDER BY TransDate, DetailID) AS [الرصيد التراكمي]
    FROM Payment_Details
    WHERE MethodID = @MethodID 
    AND CAST(TransDate AS DATE) BETWEEN @FromDate AND @ToDate
    ORDER BY TransDate ASC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_ALL_ACCOUNTS]    Script Date: 24/02/2026 11:19:13 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GET_ALL_ACCOUNTS]
AS
BEGIN
    SELECT 
        MethodID, 
        MethodName, 
        AccountType, 
        OpeningBalance, 
        CurrentBalance 
    FROM View_AccountBalances;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_ALL_DEVICES]    Script Date: 24/02/2026 11:19:13 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GET_ALL_DEVICES]
AS
BEGIN
    SELECT DeviceID, DeviceName FROM Cashier_Devices;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CASH_DENOMINATIONS_BY_ID]    Script Date: 24/02/2026 11:19:13 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GET_CASH_DENOMINATIONS_BY_ID]
    @ShiftID DECIMAL(18,0)
AS
BEGIN
    SET NOCOUNT ON;
    -- جلب فئات النقدية من الجدول المخصص لها
    SELECT F200, F100, F50, F20, F10, F5, F1 
    FROM Cash_Denominations 
    WHERE ShiftID = @ShiftID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_EXPENSES_BY_ID]    Script Date: 24/02/2026 11:19:13 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. جلب تفاصيل المصروفات
CREATE PROCEDURE [dbo].[SP_GET_EXPENSES_BY_ID]
    @ShiftID int
AS
BEGIN
    SELECT * FROM Expenses_Details WHERE ShiftID = @ShiftID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_PAYMENTS_BY_ID]    Script Date: 24/02/2026 11:19:13 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. جلب تفاصيل المدفوعات (الفيزا، انستا، الخ)
CREATE PROCEDURE [dbo].[SP_GET_PAYMENTS_BY_ID]
    @ShiftID int
AS
BEGIN
    SELECT * FROM Payment_Details WHERE ShiftID = @ShiftID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_SETTLEMENT_BY_ID]    Script Date: 24/02/2026 11:19:13 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_SETTLEMENT_BY_ID]
    @ShiftID int
AS
BEGIN
    SELECT * FROM Shift_Settlements WHERE ShiftID = @ShiftID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_TRANSFERS_BY_DATE]    Script Date: 24/02/2026 11:19:13 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GET_TRANSFERS_BY_DATE]
    @SearchDate DATE -- البارامتر الذي سنرسله من البرنامج
AS
BEGIN
    SELECT 
        T.TransferID,
        -- جلب اسم حساب المصدر
        F.MethodName AS FromAccount, 
        -- جلب اسم حساب الوجهة
        ToAcc.MethodName AS ToAccount, 
        T.Amount,
        T.TransferDate,
        T.Notes
    FROM Account_Transfers T
    -- ربط لجلب اسم الحساب المحول منه
    INNER JOIN PaymentMethods F ON T.FromAccountID = F.MethodID
    -- ربط لجلب اسم الحساب المحول إليه
    INNER JOIN PaymentMethods ToAcc ON T.ToAccountID = ToAcc.MethodID
    -- الفلترة بالتاريخ (تحويل DateTime لـ Date للمقارنة اليومية فقط)
    WHERE CAST(T.TransferDate AS DATE) = @SearchDate
    ORDER BY T.TransferDate DESC -- إظهار الأحدث أولاً
END
GO
/****** Object:  StoredProcedure [dbo].[SP_MAKE_TRANSFER]    Script Date: 24/02/2026 11:19:13 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_MAKE_TRANSFER]
    @FromID INT, 
    @ToID INT, 
    @Amount DECIMAL(18,2), 
    @Date DATETIME, 
    @Note NVARCHAR(250)
AS
BEGIN
    -- بدأ عملية Transaction لضمان سلامة البيانات
    BEGIN TRANSACTION;
    BEGIN TRY
        
        -- 1. تسجيل الحركة في جدول التحويلات (للأرشفة والرقابة)
        INSERT INTO Account_Transfers (FromAccountID, ToAccountID, Amount, TransferDate, Notes)
        VALUES (@FromID, @ToID, @Amount, @Date, @Note);

        -- 2. خصم المبلغ من حساب المصدر (بإشارة سالب) في جدول التفاصيل
        INSERT INTO Payment_Details (MethodID, Amount, TransDate)
        VALUES (@FromID, -@Amount, @Date);

        -- 3. إضافة المبلغ لحساب الوجهة (بإشارة موجب) في جدول التفاصيل
        INSERT INTO Payment_Details (MethodID, Amount, TransDate)
        VALUES (@ToID, @Amount, @Date);

        -- لو كله تمام، ثبت التغييرات
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- لو حصل أي خطأ، ارجع في كل حاجة كأن شيئاً لم يكن
        ROLLBACK TRANSACTION;
        -- إظهار رسالة الخطأ
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SAVE_FULL_SETTLEMENT]    Script Date: 24/02/2026 11:19:13 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SAVE_FULL_SETTLEMENT]
    @ShiftID DECIMAL(18,0), 
    @CashierID INT, 
    @DeviceID INT, 
    @UserID INT, 
    @Date DATETIME, 
    @Type NVARCHAR(20),
    @SysAmt DECIMAL(18,2), 
    @ActCash DECIMAL(18,2), 
    @ActDigi DECIMAL(18,2), 
    @TotalExp DECIMAL(18,2),
    @Diff DECIMAL(18,2), 
    @Status NVARCHAR(50),
    @f200 INT, @f100 INT, @f50 INT, @f20 INT, @f10 INT, @f5 INT, @f1 INT,
    @Payments PaymentTableType READONLY,
    @Expenses ExpenseTableType READONLY
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        -- 1. حفظ رأس الوردية
        INSERT INTO Shift_Settlements (
            ShiftID, CashierID, DeviceID, CreatedBy_UserID, ShiftDate, 
            ShiftType, SystemAmount, ActualCash, ActualDigital, 
            TotalExpenses, FinalDifference, StatusNote
        )
        VALUES (
            @ShiftID, @CashierID, @DeviceID, @UserID, @Date, 
            @Type, @SysAmt, @ActCash, @ActDigi, 
            @TotalExp, @Diff, @Status
        );

        -- 2. حفظ فئات النقدية
        INSERT INTO Cash_Denominations (ShiftID, F200, F100, F50, F20, F10, F5, F1)
        VALUES (@ShiftID, @f200, @f100, @f50, @f20, @f10, @f5, @f1);

        -- 3. حفظ تفاصيل المدفوعات وتحديث أرصدة الحسابات (الخطوة الجديدة)
        INSERT INTO Payment_Details (ShiftID, MethodID, Amount)
        SELECT @ShiftID, MethodID, Amount FROM @Payments;

        -- تحديث CurrentBalance في جدول الحسابات لكل طريقة دفع تم استخدامها
        UPDATE PM
        SET PM.CurrentBalance = PM.CurrentBalance + P.Amount
        FROM PaymentMethods PM
        INNER JOIN @Payments P ON PM.MethodID = P.MethodID;

        -- 4. حفظ المصروفات
        INSERT INTO Expenses_Details (ShiftID, Reason, Amount)
        SELECT @ShiftID, Reason, Amount FROM @Expenses;

        -- 5. تحديث سجل الخزنة الرئيسي (Safe_Log)
        DECLARE @LastBalance DECIMAL(18,2) = ISNULL((SELECT TOP 1 CurrentBalance FROM Safe_Log ORDER BY LogID DESC), 0);
        
        INSERT INTO Safe_Log (ShiftID, TransactionType, AmountIn, AmountOut, CurrentBalance)
        VALUES (@ShiftID, N'تصفية وردية', @ActCash, @TotalExp, @LastBalance + @ActCash - @TotalExp);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_ACCOUNT]    Script Date: 24/02/2026 11:19:13 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. إجراء تعديل بيانات حساب
CREATE PROCEDURE [dbo].[SP_UPDATE_ACCOUNT]
    @ID INT,
    @Name NVARCHAR(50),
    @Type NVARCHAR(50)
AS
BEGIN
    UPDATE PaymentMethods 
    SET MethodName = @Name, 
        AccountType = @Type 
    WHERE MethodID = @ID;
END
GO
USE [master]
GO
